body {
  background: linear-gradient(
    90deg,
    rgb(5, 30, 114) 0%,
    rgb(19, 29, 1) 100%
  );
  margin: 10%;
}
form{
  text-align: center;
  border: 1px solid black;
  
}
.user:nth-child(2n + 1) {
  background: linear-gradient(
    90deg,
    rgb(252, 40, 3) 10%,
    rgb(7, 245, 58) 100%
  );
}

.user:nth-child(2n + 2) {
  background: linear-gradient(
    90deg,
    rgb(252, 40, 3) 10%,
    rgba(250, 0, 135, 1) 100%
  );
}

.user:nth-child(2n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 10%,
    rgb(7, 245, 58) 100%
  );
}
.user{
  padding-left: 20px;
  border-radius: 8px;
}
input{
  margin-bottom: 1rem;
  width: 40rem;
}
